*{
  margin: 0;
  padding: 0;
}

.container{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  width: 700px;
  font-family: sans-serif;
}
.nav{
  background-color:black ;
  color: white;
  display: flex;
  align-items: center;
  height: 70px;
  padding-left: 20px;
}

h2{
text-align: center;
}

.allboxs{
  background-color: white;
  display: flex;
  gap: 40px;
}

.james{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border: solid black;
  padding: 20px;
  height:180px;
}
img{
  width: 60px;
}

.secondec{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.neil{
  display: flex;
  flex-direction: column;
  border:solid black;
  width: 400px;
  height: 100px;
  gap: 30px;
  padding-top: 10px;
  padding-left:30px ;
}
.row-1{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.row-1 h3{
  margin-right: 100px;
}
.row-1-2{
  display: flex;
  gap: 10px;
}
.like{
  background-color: #ffd966;
  width: 50px;
  box-shadow: 2px 2px 0px black;
  margin-left: 20px;
  height: 30px;
}

a{
  color:#087ee5;
}
.nichole{
  display: flex;
  flex-direction: column;
  border:solid black;
  width: 400px;
  height: 100px;
  gap: 30px;
  padding-top: 10px;
  padding-left:30px ;
}
.jim{
  display: flex;
  flex-direction: column;
  border:solid black;
  width: 400px;
  height: 100px;
  gap: 30px;
  padding-top: 10px;
  padding-left:30px ;
}